<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".gltf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".glb" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".babylon" mimeType="application/babylon" />
			<mimeMap fileExtension=".babylonmeshdata" mimeType="application/babylonmeshdata" />
			<mimeMap fileExtension=".babylonbinarymeshdata" mimeType="application/babylonbinarymeshdata" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="WalkTheWeb" patternSyntax="Wildcard">
					<match url="*" />
						<conditions>
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
