.wtw-iclear {
	clear:both;
}
.wtw-icenter {
	text-align:center;
	vertical-align:middle;
}
.wtw-ihide {
	display:none;
	visibility:hidden;
}
.wtw-iprogresssection {
	min-height: 300px;
	text-align:center;
	vertical-align:middle;
	margin:20px;
}
.wtw-iprogressdiv {
	min-height:30px;
	min-width:70%;
	margin-left:15%;
	margin-right:15%;
	margin-top:70px;
	margin-bottom:30px;
	border:2px solid #808080;
	border-radius:6px;
	background-color:#acacac;
}
.wtw-iprogressbar {
	width:10%;
	height:27px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #fcfcfc;
	border-top:1px solid #fcfcfc;
	border-radius:6px;
	background-color:green;
}
.wtw-iprogresstext {
	color:#808080;
	font-weight:bold;
	font-size:1.2em;
	text-align:center;
}
.wtw-searchresultbutton {
	float:right;
	border:2px solid gray;
	border-radius:10px;
	color:#000000;
	font-weight:bold;
	width:120px;
	padding:20px;
	text-align:center;
	vertical-align:top;
	font-size:1em;
	margin:15px 5px 5px 5px;
	background-color:#ffffff;
	cursor:default;
}
.wtw-searchresultbutton:hover {
	border:2px solid green;
	color:green;
	background-color:#FCFFBD;
	cursor:pointer;
}
h3.wtw-black {
	font-weight: bold;
	color: #000000;
	font-size: 1.2em;
	margin-bottom: 2px;
	background-color:transparent;
}
