html, body {
	font-family: Arial,Tahoma,san-serif;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #e7e7e7;
	overflow: hidden;
	scroll:no;
}
.wtw-adminmenu {
	margin:0px;
	padding:7px 0px 7px 10px;
	font-weight:normal;
	font-size:1em;
	color:white;
	border-top:transparent solid 1px;
	border-bottom:transparent solid 1px;
	background: rgba(33,33,33,0.2);
	text-align:left;
	vertical-align:middle;
}
.wtw-adminmenu:hover {
	cursor:pointer;
	color:#FFF7DA;
	border-top:#454545 solid 1px;
	border-bottom:#454545 solid 1px;
	background-color: #282828;
}
.wtw-adminsubmenu {
	margin-top:5px;
	margin-bottom:5px;
	margin-left:35px;
	margin-right:35px;
	padding:3px;
	font-weight:normal;
	font-size:1em;
	color:white;
	border:transparent solid 1px;
	background: rgba(33,33,33,0.2);
	text-align:left;
}
.wtw-adminsubmenu:hover {
	cursor:pointer;
	color:#FFF7DA;
	border:#454545 solid 1px;
	background-color:#282828;
}
.wtw-adminmenudiv {
	display:none;
	visibility:hidden;
	background: rgba(134,134,134,0.3);
}
.wtw-adminmenuform {
	display:none;
	visibility:hidden;
}
.wtw-searchresultbutton {
	float:right;
	border:2px solid gray;
	border-radius:10px;
	color:#000000;
	font-weight:bold;
	width:120px;
	padding:20px;
	text-align:center;
	vertical-align:top;
	font-size:1em;
	margin:15px 5px 5px 5px;
	background-color:#ffffff;
}
.wtw-searchresultbutton:hover {
	border:2px solid green;
	color:green;
	background-color:#FCFFBD;
	cursor:pointer;
}
.wtw-searchresultbuttonyellow {
	float:right;
	border:2px solid gray;
	border-radius:10px;
	color:#000000;
	font-weight:bold;
	width:120px;
	padding:20px;
	text-align:center;
	vertical-align:top;
	font-size:1em;
	margin:15px 5px 5px 5px;
	background-color:yellow;
	cursor:default;
}
.wtw-searchresultbuttonyellow:hover {
	border:2px solid green;
	color:green;
	background-color:#FCFFBD;
	cursor:pointer;
}
.wtw-adminiconimage {
	height:45px;
	width:auto;
}
.wtw-quickbar {
	font-size:10px;
	color:white;
	background-color:#273C2C;
	display:inline-block;
	width:35px;
	height:35px;
	padding-top:8px;
	text-align:center;
	border:1px solid #226D22;
	margin-top:0px;
	cursor:default;
}
.wtw-quickbar:hover {
	background-color:#226D22;
	cursor:pointer;
}
.wtw-quickbaroff {
	font-size:10px;
	color:white;
	background-color:#4F3133;
	display:inline-block;
	width:35px;
	height:35px;
	padding-top:8px;
	text-align:center;
	border:1px solid #6D2222;
	margin-top:0px;
}
.wtw-quickbaroff:hover {
	background-color:#6D2222;
	cursor:pointer;
}
.wtw-objectcontainer {
	width:350px;
	margin:15px;
	border:1px solid #afafaf;
	display:inline-block;
}
.wtw-objectfile {
	text-align:center;
	padding-top:10px;
	width:348px;
	height:35px;
	font-size:1em;
	font-weight:bold;
	border-bottom:1px solid #cfcfcf;
	background-color:transparent;
}
.wtw-objectfile:hover {
	background-color:#FBFFDE;
	color:#375377;
	cursor:pointer;
}
.wtw-objectfolder {
	text-align:left;
	margin:10px;
	font-size:.8em;
	width:100%;
}
.wtw-sampletext {
	font-size:.7em;
	color:#afafaf;
}
.wtw-active {
	font-weight:bold;
	font-size:1.2em;
}
.wtw-deactive {
	font-weight:normal;
	font-size:1em;
}
td.wtw-tdactive {
	background-color:#ffffff;
}
td.wtw-tddeactive {
	background-color:#cfcfcf;
}
.wtw-snapshot {
	display:none;
	visibility:hidden;
	margin-left:15px;
	width:280px;
	height:auto;
}
.wtw-snapshot90p {
	display:none;
	visibility:hidden;
	margin-left:15px;
	width:90%;
	height:auto;
}
.wtw-backbutton {
	position:absolute;
	left:6px;
	top:6px;
	z-index:8002;
	text-align:center;
	border:1px solid #454545;
	padding:3px;
	color:#ffffff;
	font-size:1.4em;
}
.wtw-backbutton:hover {
	border:1px solid #ffffff;
	color:FFF7DA;
	cursor:pointer;
}
.wtw-previewimage {
	cursor:pointer;
	margin:5px;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	max-width: 65px;
	max-height: 65px;
	width: auto;
	height: auto;
	border: 1px solid #c0c0c0;
}

.wtw-versionheader {
	border:1px solid black;
	background-color:#0036FF;
	color:white;
	font-size:1.2em;
	text-align:left;
	margin:5px;
	padding:8px;
}
.wtw-versionheader:hover {
	cursor:pointer;
	background-color:#001359;
	color:#FDFFB9
}
.wtw-versionheadergreen {
	border:1px solid black;
	background-color:#1A7311;
	color:white;
	font-size:1.2em;
	text-align:left;
	margin:5px;
	padding:8px;
}
.wtw-versionheadergreen:hover {
	cursor:pointer;
	background-color:#001359;
	color:#FDFFB9
}
.wtw-versionheaderblack {
	border:1px solid black;
	background-color:#111111;
	color:white;
	font-size:1.2em;
	text-align:left;
	margin:5px;
	padding:8px;
}
.wtw-versionheaderblack:hover {
	cursor:pointer;
	background-color:#001359;
	color:#FDFFB9
}
.wtw-archivebutton {
	float:right;
	border:1px solid #000000;
	background-color:#111111;
	color:white;
	font-size:1.2em;
	text-align:center;
	margin:5px;
	padding:8px;
}
.wtw-archivebutton:hover {
	cursor:pointer;
	background-color:#001359;
	color:#FDFFB9
}
.wtw-versionsummary {
	border:1px solid gray;
	border-radius:15px;
	background-color:#FDFFB9;
	color:#000000;
	font-size:1.2em;
	text-align:left;
	margin:5px;
	padding:8px;
	white-space: normal;
}
.wtw-videopreview {
	position: absolute;
	z-index:9001;
	top:40px;
	right:40px;
	margin:0px;
	padding:0px;
	width:30%;
	height:auto;
	min-height:240px;
	border:transparent solid 1px;
	background: rgba(33,33,33,0.2);
	text-align:left;
	vertical-align:middle;
	display:none;
	visibility:hidden;
	pointer-events:none;
	touch-action: none;
}
.wtw-camerapreview {
	border: 1px solid rgb(15, 158, 238); 
	width: 100%;
	pointer-events:none;
	touch-action: none;
}
.wtw-videobuttons {
	cursor:pointer;
	pointer-events:auto;
	touch-action: auto;
}
.wtw-controlpaneldiv {
	position:relative;
	border:2px solid #154360;
	border-radius:15px;
	width:96%;
	margin-left:7px;
	margin-bottom:15px;
	padding:10px;
	vertical-align:top;
	color:#000000;
}
.wtw-controlpaneltitlediv {
	font-size:1.4em;
	font-weight:bold;
	border-bottom:1px solid #154360;
	margin-bottom:10px;
	padding-bottom:5px;
	color:#000000;
}
.wtw-biglistleft {
	float:left;
	margin-left:10px;
	font-weight: bold;
	color: #000000;
	font-size: 1.2em;
	margin-bottom: 2px;
	background-color:transparent;
	min-height:32px;
}
.wtw-biglistcenter {
	width:100%;
	text-align:center;
	margin-left:10px;
	font-weight: bold;
	color: #000000;
	font-size: 1.2em;
	margin-bottom: 2px;
	background-color:transparent;
	min-height:32px;
}
.wtw-download {
	display:inline-block;
	text-decoration:underline;
	color:#000000;
}
.wtw-download:hover {
	color:#375377;
	cursor:pointer;
}
