body {
	font-family:arial,tahoma,san serif;
}
.wtw-helpdiv {
	display:none;
	visibility:hidden;
}
h2.wtw-right {
	float:right;
	border:1px blue solid;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	padding:5px;
	margin-right:0px;
}
h2 {
	color:blue;
	cursor:pointer;
}
h3 {
	color:black;
	cursor:pointer;
	margin-left:10px;
}
img.wtw-imgfull{
	width:90%;
	height:auto;
	margin-left:5%;
	border:1px gray solid;
}