body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	background-color:#efefef;
}
.wtw-label {
	width:250px;
	float:left;
	font-size:1.2em;
	font-weight:bold;
	min-height:32px;
	vertical-align:top;
	padding-top:5px;
	margin-top:5px;
	margin-bottom:5px;
}
.wtw-value {
	min-height:32px;
	display:block;
	font-size:1.2em;
	font-weight:normal;
	vertical-align:top;
	margin-top:5px;
	margin-bottom:5px;
}
.wtw-hidden {
	display:none;
	visibility:hidden;
}
input[type=text].wtw-input, input[type=password].wtw-input {
	font-size:1.2em;
	width:150px;
	border:1px solid #cfcfcf;
}
input[type=text].wtw-input:focus, input[type=password].wtw-input:focus {
	font-size:1.2em;
	width:150px;
	border:1px solid blue;
}
input[type=text].wtw-inputbig, input[type=password].wtw-inputbig {
	font-size:1.2em;
	width:250px;
	border:1px solid #cfcfcf;
}
input[type=text].wtw-inputbig:focus, input[type=password].wtw-inputbig:focus {
	font-size:1.2em;
	width:250px;
	border:1px solid blue;
}
.wtw-clear {
	clear:both;
	min-height:10px;
}
.wtw-hide {
	display:none;
	visibility:hidden;
}
.wtw-button {
	display:inline-block;
	border:1px solid #0071a1;
	border-radius:10px;
	padding:5px;
	color: #0071a1;
	background-color:#efefef;
	margin-left:15px;
}
.wtw-button:hover {
	cursor:pointer;
	border:1px solid #007100;
	color: #007100;
	background-color:#ffffff;
}
.wtw-submit {
	font-size:1.2em;
	border-radius:10px;
	padding:5px;
	padding:5px;
	color:#000000;
	background-color:#efefef;
}
.wtw-submit:hover {
	cursor:pointer;
	color:green;
	background-color:#ffffff;
}
.wtw-iclear {
	clear:both;
}
.wtw-icenter {
	text-align:center;
	vertical-align:middle;
}
.wtw-ihide {
	display:none;
	visibility:hidden;
}
.wtw-iprogresssection {
	min-height: 300px;
	text-align:center;
	vertical-align:middle;
	margin:20px;
}
.wtw-iprogressdiv {
	min-height:30px;
	min-width:70%;
	margin-left:15%;
	margin-right:15%;
	margin-top:70px;
	margin-bottom:30px;
	border:2px solid #808080;
	border-radius:6px;
	background-color:#acacac;
}
.wtw-iprogressbar {
	width:10%;
	height:27px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #fcfcfc;
	border-top:1px solid #fcfcfc;
	border-radius:6px;
	background-color:green;
}
.wtw-iprogresstext {
	color:#808080;
	font-weight:bold;
	font-size:1.2em;
	text-align:center;
}
.wtw-search {
	font-size:1.2em;
	border:2px solid gray;
	width:120px;
	padding:3px;
	border-radius:10px;
	background-color:#FDFFCE;
}
.wtw-search:hover {
	border:2px solid green;
	color:green;
	background-color:#FCFFBD;
	cursor:pointer;
}
.wtw-searchresultbutton {
	float:right;
	border:2px solid gray;
	border-radius:10px;
	color:#000000;
	font-weight:bold;
	padding:20px;
	text-align:center;
	vertical-align:top;
	font-size:1.4em;
	margin:30px;
	background-color:#FDFFCE;
	cursor:default;
}
.wtw-searchresultbutton:hover {
	border:2px solid green;
	color:green;
	background-color:#FCFFBD;
	cursor:pointer;
}
h3.wtw-black {
	font-weight: bold;
	color: #000000;
	font-size: 1.6em;
	margin-bottom: 2px;
	background-color:transparent;
	letter-spacing:normal;
	text-transform:none;
}
.wtw-textdescription {
	margin-left:30px;
}
.wtw-woocommercerequired {
	border:2px solid red;
	border-radius:10px;
	color:red;
	font-weight:bold;
	padding:20px;
	margin:20px;
	clear:both;
}
.wtw-dashboardbox {
	float:left;
	min-width:400px;
	max-width:500px;
	min-height:250px;
	width:auto;
	margin:20px auto 0px 20px;
	padding:10px;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 5px 10px #777777;
	background:#ffffff;
	vertical-align:top;
	text-align:center;
}
.wtw-dashboardboxhome {
	float:left;
	min-width:400px;
	max-width:90%;
	min-height:700px;
	width:100%;
	height:100%;
	margin:20px auto 0px 20px;
	padding:10px;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 5px 10px #777777;
	background:#ffffff;
	vertical-align:top;
	text-align:center;
	background-repeat: no-repeat;
	background-size: contain, cover;
	background-position: center center;
}
.wtw-dashboardboxtext {
	display:inline-block;
	color:yellow;
	margin-top:28%;
	margin-left:auto;
	margin-right:auto;
	border:red solid 2px;
	background-color:#000000;
	padding:15px;
	border-radius:20px;
}
h2.wtw-dashboardheading, .wtw-dashboardheading {
	text-align:center;
	font-size:1.4em;
	font-weight:bold;
	color:#000000;
	border-bottom:1px solid #000000;
	padding-bottom:10px;
	letter-spacing:normal;
	text-transform:none;
}
h4.wtw-dashboardheading {
	text-align:left;
	font-size:1.2em;
	font-weight:bold;
	color:#000000;
	padding-bottom:5px;
	letter-spacing:normal;
	text-transform:none;
}
.wtw-dashboardbutton {
	display:inline-block;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	padding:10px;
	font-size:1.2em;
	text-align:center;
	color:#000000;
	background-color:#efefef;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
}
.wtw-dashboardbutton:hover {
	color:#1a1aff;
	background-color:#ffffcc;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #1a1aff;
	cursor:pointer;
}

.wtw-createbutton {
	padding:20px;
	border-top:#afafaf 1px solid;
	border-left:#afafaf 1px solid;
	border-right:#0f0f0f 1px solid;
	border-bottom:black 4px solid;
	box-shadow: 3px 6px #073770;
	border-radius:20px;
	margin:20px auto 20px auto;
	color:#ffffff;
	background-color: #006600;
	display:inline-block;
	text-align:center;
	font-size:1.4em;
	font-weight:bold;
}
.wtw-createbutton:hover {
	cursor:pointer;
	color:#000000;
	background-color: #ccffcc;
	box-shadow: 3px 6px #006600;
}
img.wtw-tinyimg {
	display:inline-block;
	width:30px;
	height:auto;
	margin:2px;
	border:1px solid transparent;
	border-radius:2px;
	padding:1px;
}
img.wtw-tinyimg:hover {
	cursor:pointer;
}
img.wtw-tinyimgselected {
	display:inline-block;
	width:30px;
	height:auto;
	margin:2px;
	border:1px solid blue;
	border-radius:2px;
	padding:1px;
}
img.wtw-tinyimgselected:hover {
	cursor:pointer;
}
a.wtw-createbutton {
	padding:20px;
	border-top:#afafaf 1px solid;
	border-left:#afafaf 1px solid;
	border-right:#0f0f0f 1px solid;
	border-bottom:black 4px solid;
	box-shadow: 3px 6px #073770;
	border-radius:20px;
	margin:20px auto 20px auto;
	color:#ffffff;
	background-color: #006600;
	display:inline-block;
	text-align:center;
	font-size:1.4em;
	font-weight:bold;
}
a.wtw-createbutton:visited {
	padding:20px;
	border-top:#afafaf 1px solid;
	border-left:#afafaf 1px solid;
	border-right:#0f0f0f 1px solid;
	border-bottom:black 4px solid;
	box-shadow: 3px 6px #073770;
	border-radius:20px;
	margin:20px auto 20px auto;
	color:#ffffff;
	background-color: #006600;
	display:inline-block;
	text-align:center;
	font-size:1.4em;
	font-weight:bold;
}
a.wtw-createbutton:hover {
	cursor:pointer;
	color:#000000;
	background-color: #ccffcc;
	box-shadow: 3px 6px #006600;
}

.wtw-dashboardpage {
	width:96%;
	min-height:500px;
	margin:2% auto 2% 20px;
	padding:10px;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 5px 10px #777777;
	background-color:#ffffff;
	vertical-align:top;
	text-align:center;
}

.wtw-dashboardstep-active {
	float:left;
	margin:20px;
	padding:10px;
	color:#008000;
	border-top:1px solid #008000;
	border-left:1px solid #008000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 5px 10px #206040;
	background-color:#ffffff;
	vertical-align:middle;
	text-align:center;
}
.wtw-dashboardstep-past {
	float:left;
	margin:20px;
	padding:10px;
	color:#0000ff;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	background-color:#ffffff;
	vertical-align:middle;
	text-align:center;
}
.wtw-dashboardstep-past:hover {
	color:#000000;
	box-shadow: 2px 5px #777777;
	background-color:#ffffcc;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
}
.wtw-dashboardstep-next {
	float:left;
	margin:20px;
	padding:10px;
	color:#000000;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	background-color:#efefef;
	vertical-align:middle;
	text-align:center;
}
.wtw-wizardstepdivider {
	float:left;
	margin:10px;
	color:#ffffff;
	font-size:1.6em;
	font-weight:bold;
}
input[type="button"].wtw-searchresultbutton {
	float:right;
	border:2px solid gray;
	border-radius:10px;
	color:#000000;
	font-weight:bold;
	width:140px;
	padding:20px;
	text-align:center;
	vertical-align:top;
	font-size:1.2em;
	margin:35px 5px 5px 5px;
	background-color:#efefef;
	box-shadow: 2px 5px #afafaf;
	cursor:default;
}
input[type="button"].wtw-searchresultbutton:hover {
	border:2px solid green;
	color:green;
	background-color:#fcffbd;
	box-shadow: 2px 5px #003300;
	cursor:pointer;
}
.wtw-searchlabel {
	display:inline-block;
	color:#000000;
	font-size:1.2em;
	font-weight:bold;
}
input[type="button"].wtw-searchbutton {
	display:inline-block;
	border:2px solid gray;
	border-radius:10px;
	color:#000000;
	font-weight:bold;
	width:140px;
	padding:5px;
	text-align:center;
	vertical-align:top;
	font-size:1.2em;
	margin:5px 5px 5px 5px;
	background-color:#efefef;
	box-shadow: 2px 5px #afafaf;
	cursor:default;
}
input[type="button"].wtw-searchbutton:hover {
	border:2px solid green;
	color:green;
	background-color:#fcffbd;
	box-shadow: 2px 5px #003300;
	cursor:pointer;
}
.wtw-simplebox {
	text-align:left;
	background-color:#ffffff;
	padding:10px;
}
.wtw-hostingbox {
	width:96%;
	margin:10px 2% 10px 2%;
	padding:10px;
	font-size:1em;
	text-align:left;
	color:#000000;
	background-color:#efefef;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
}
.wtw-hostingboxselected {
	width:96%;
	margin:10px 2% 10px 2%;
	padding:10px;
	font-size:1em;
	text-align:left;
	color:#000000;
	background-color:#d9f2e6;
	border-top:1px solid green;
	border-left:1px solid green;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px green;
}
.wtw-login {
	float:left;
	width:90%;
	min-width:600px;
	min-height:300px;
	padding:10px;
	margin:5px 5px 5px 20px;
	font-size:1em;
	text-align:left;
	color:#000000;
	background-color:#ffffff;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
}
.wtw-host {
	width:96%;
	margin:10px 2% 10px 2%;
	min-width:400px;
	min-height:300px;
	padding:10px;
	font-size:1em;
	text-align:left;
	color:#000000;
	background-color:#ffffff;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
}
.wtw-loginlabel {
	cursor: default;
	color:#ffffff;
	width:200px;
	float:left;
	font-size:1.2em;
	text-align:center;
	border-top:#afafaf 1px solid;
	border-left:#afafaf 1px solid;
	border-right:#0f0f0f 1px solid;
	border-bottom:black 4px solid;
	box-shadow: 3px 6px #073770;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding:10px;
	margin-left:5px;
	margin-right:10px;
	margin-bottom:25px;
	background-image:linear-gradient(rgba(100, 100, 100, .8), rgba(14, 115, 237, .6)); 
}
.wtw-loginlabelwidth {
	width:200px;
	float:left;
	font-size:1.2em;
	text-align:center;
	padding:10px;
	margin-left:5px;
	margin-bottom:5px;
}
input.wtw-textbox {
	width:240px;
	font-size:1em;
	border:#afafaf 1px solid;
	padding:10px;
	background-color:rgba(255,255,255,.5);
	color:#32373c;
}
input.wtw-textbox:focus {
	border:green 1px solid;
	background-color:rgba(255,255,255,.5);
	color:#32373c;
}
input.wtw-textbox:hover {
	border:#888888 1px solid;
	background-color:rgba(255,255,255,.5);
	color:#32373c;
}
input.wtw-textbox:disabled {
	border:#888888 1px solid;
	color:#777777;
	background-color:rgba(255,255,255,.8);
}
input.wtw-textboxwider {
	width:340px;
	font-size:1em;
	border:#afafaf 1px solid;
	padding:10px;
	color:#32373c;
	background-color:rgba(255,255,255,.5);
}
input.wtw-textboxwider:focus {
	border:green 1px solid;
	color:#32373c;
	background-color:rgba(255,255,255,.5);
}
input.wtw-textboxwider:hover {
	border:#888888 1px solid;
	color:#32373c;
	background-color:rgba(255,255,255,.5);
}
input.wtw-textboxwider:disabled {
	border:#888888 1px solid;
	color:#777777;
	background-color:rgba(255,255,255,.8);
}
.wtw-errortext {
	color:red;
	font-size:1.2em;
	font-weight:bold;
}
img.wtw-loginlogo {
	width:40px;
	height:40px;
	border:0px transparent;
	float:left;
}
.wtw-loginbutton {
	border:#073770 4px solid;
	border-radius:20px;
	width:300px;
	min-height:40px;
	text-align:center;
	color:black;
	font-size:1.2em;
	font-weight:bold;
	padding:10px;
	margin-left:6%;
	margin-bottom:30px;
	box-shadow: 5px 10px rgba(14, 115, 237, .6);
	background-color: #efefef;
}
.wtw-loginbutton:hover {
	border:green 4px solid;
	cursor:pointer;
	color:blue;
	background-color: #fafcc5;
	box-shadow: 5px 10px #3b4f33;
}
.wtw-logincancel {
	border:#afafaf 1px solid;
	padding:5px;
	border-radius:10px;
	width:120px;
	margin-left:auto;
	margin-right:auto;
	background-color: #ffffff;
	display:inline-block;
}
.wtw-logincancel:hover {
	cursor:pointer;
	border:green 1px solid;
	background-color: #fafcc5;
}
.wtw-loginwide {
	border:#afafaf 1px solid;
	padding:5px;
	border-radius:10px;
	min-width:120px;
	margin-left:auto;
	margin-right:auto;
	background-color: #ffffff;
	display:inline-block;
}
.wtw-loginwide:hover {
	cursor:pointer;
	border:green 1px solid;
	background-color: #fafcc5;
}
.wtw-availability {
	border:#afafaf 1px solid;
	padding:5px;
	border-radius:10px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	background-color: #d9f2e6;
	display:inline-block;
	text-align:center;
}
.wtw-availability:hover {
	cursor:pointer;
	border:green 1px solid;
	background-color: #fafcc5;
}
.wtw-lightlink {
	color:#0000ff;
}
.wtw-lightlink:hover {
	color:green;
	cursor:pointer;
}
.wtw-hosturl {
	display:inline-block;
	color:blue;
}
.wtw-selectedimage {
	width:300px;
	height:auto;
}
.wtw-editbutton {
	float:right;
	margin-right:20px;
	border:1px solid black;
	border-radius:10px;
	width:75px;
	min-height:28px;
	text-align:center;
	color:black;
	font-size:1em;
	font-weight:bold;
	padding:5px;
	background-color: rgba(242, 242, 242, .5);
}
.wtw-editbutton:hover {
	border:1px solid green;
	color:black;
	background-color: rgba(255, 255, 204, .9);
	cursor:pointer;
}
.wtw-navbuttonnext {
	float:right;
	border:#000000 1px solid;
	padding:5px;
	border-radius:10px;
	width:120px;
	margin-left:auto;
	margin-right:auto;
	color:#ffffff;
	background-color: #006600;
	display:inline-block;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
.wtw-navbuttonnext:hover {
	cursor:pointer;
	border:1px solid #006600;
	color:#000000;
	background-color: #ccffcc;
}
.wtw-navbuttonback {
	float:left;
	border:#000000 1px solid;
	padding:5px;
	border-radius:10px;
	width:120px;
	margin-left:auto;
	margin-right:auto;
	color:#ffffff;
	background-color: #006600;
	display:inline-block;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
.wtw-navbuttonback:hover {
	cursor:pointer;
	border:1px solid #006600;
	color:#000000;
	background-color: #ccffcc;
}
.wtw-smalllightfont, h4.wtw-smalllightfont {
	font-size:.8em;
	color:#777777;
}
.wtw-bold {
	font-weight:bold;
}
.wtw-progressdiv {
	margin:10px 2% 10px 2%;
	height:230px;
	padding:10px;
	font-size:1em;
	text-align:center;
	color:#000000;
	background-color:#efefef;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	vertical-align:bottom;
	background:url('/content/system/images/3dinternet.jpg') no-repeat center;
	background-size: 100% auto;
	
}
.wtw-progressball {
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	padding:0px;
	width:72px;
	height:72px;
	background-color:rgba(0, 51, 153,.6);
	border:1px solid #6699ff;
	border-radius:36px;
}
.wtw-progresstext {
	margin:20px auto auto auto;
	display:inline-block;
	font-size:1.4em;
	font-weight:bold;
	color:#ffffff;
}
.wtw-notebox {
	margin:20px 0px 20px 0px;
	border:1px solid black;
	border-radius:10px;
	max-width:700px;
	text-align:left;
	color:black;
	font-size:1em;
	padding:10px;
}
.wtw-headerrow {
	width:100%;
	display:block;
	border-bottom:2px solid #000000;
	text-align:left;
}
.wtw-row {
	width:100%;
	display:block;
	border-bottom:2px solid #cfcfcf;
	text-align:left;
}
.wtw-rowtop {
	width:100%;
	display:block;
	border-top:2px solid #cfcfcf;
	text-align:left;
	background-color:#efefef;
	margin-top:10px;
}
.wtw-col3 {
	width:34%;
	display:inline-block;
	padding: 5px 5px 5px 0px;
	text-align:left;
}
.wtw-col6 {
	width:14%;
	display:inline-block;
	padding: 5px 5px 5px 0px;
	text-align:left;
}
.wtw-col6right {
	width:14%;
	display:inline-block;
	padding: 5px 5px 5px 0px;
	text-align:right;
}
.wtw-col4 {
	width:24%;
	display:inline-block;
	padding: 5px 5px 5px 0px;
	text-align:left;
}
.wtw-col2 {
	width:49%;
	display:inline-block;
	padding: 5px 5px 5px 0px;
	text-align:left;
}
.wtw-col4right {
	width:24%;
	display:inline-block;
	padding: 5px 5px 5px 0px;
	text-align:right;
}
.wtw-smallcol {
	display:inline-block;
	width: 21%;
	min-height:200px;
	border:1px solid #afafaf;
	border-radius:10px;
	margin:5px 1% auto 1%;
	padding:10px;
	vertical-align:top; 
}
.wtw-medcol {
	display:inline-block;
	width: 28%;
	min-height:200px;
	border:1px solid #afafaf;
	border-radius:10px;
	margin:5px 1% auto 1%;
	padding:10px;
	vertical-align:top; 
}
.wtw-largecol {
	display:inline-block;
	width: 45%;
	min-height:200px;
	border:1px solid #afafaf;
	border-radius:10px;
	margin:5px 1% auto 1%;
	padding:10px;
	vertical-align:top; 
}
.wtw-notes {
	border:1px solid #cfcfcf;
	border-radius:15px;
	padding:10px;
}
.wtw-searchdiv {
	float:right;
	white-space:nowrap;
}
.wtw-colicons {
	display:inline-block;
	margin-right:20px;
}
