.wtw-body {
	background-color:grey;
	font-family:arial;
}
.wtw-iclear {
	clear:both;
}
.wtw-clearspace {
	clear:both;
	min-height:20px;
}
.wtw-textbox {
	font-size:1.2em;
}
.wtw-icenter {
	text-align:center;
	vertical-align:middle;
}
.wtw-searcharea {
	text-align:center;
	vertical-align:middle;
	width:512px;
	margin-left:auto;
	margin-right:auto;
}
.wtw-ihide {
	display:none;
	visibility:hidden;
}
.wtw-logoimage {
	margin-top:25px;
	width:512px;
	height:auto;
}
.wtw-narrowpage {
	border:5px solid #32448E;
	background-color:black;
	width:512px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	border-radius:25px;
}
.wtw-widepage {
	border:5px solid #32448E;
	background-color:black;
	width:90%;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-radius:25px;
}
.wtw-fullwidth {
	width:100%;
}
.wtw-searchform {
	background-color:#ffffff;
	margin-bottom:25px;
}
.wtw-searchlabel {
	font-size:1.2em;
	font-weight:bold;
	float:left;
}
.wtw-searchdiv {
	float:right;
	white-space:nowrap;
}
.wtw-colicons {
	display:inline-block;
	margin-right:20px;
}
img.wtw-tinyimg {
	display:inline-block;
	width:30px;
	height:auto;
	margin:2px;
	border:1px solid transparent;
	border-radius:2px;
	padding:1px;
}
img.wtw-tinyimg:hover {
	cursor:pointer;
}
img.wtw-tinyimgselected {
	display:inline-block;
	width:30px;
	height:auto;
	margin:2px;
	border:1px solid blue;
	border-radius:2px;
	padding:1px;
}
img.wtw-tinyimgselected:hover {
	cursor:pointer;
}
.wtw-smallcol {
	display:inline-block;
	width: 21%;
	min-height:200px;
	border:1px solid #afafaf;
	border-radius:10px;
	margin:5px 1% auto 1%;
	padding:10px;
	vertical-align:top; 
}
.wtw-medcol {
	display:inline-block;
	width: 28%;
	min-height:200px;
	border:1px solid #afafaf;
	border-radius:10px;
	margin:5px 1% auto 1%;
	padding:10px;
	vertical-align:top; 
}
.wtw-largecol {
	display:inline-block;
	width: 45%;
	min-height:200px;
	border:1px solid #afafaf;
	border-radius:10px;
	margin:5px 1% auto 1%;
	padding:10px;
	vertical-align:top; 
}
.wtw-lightblock {
	margin:20px;
	border-radius:15px;
	padding:10px;
	background-color:#ffffff;
}
.wtw-whitetext {
	color:#ffffff;
}
.wtw-pointer {
	cursor:pointer;
}
.wtw-indent {
	margin-left:10px;
}
.wtw-indentmore {
	margin-left:20px;
	text-align:left;
}
.wtw-error {
	color:red;
	font-weight:bold;
}
.wtw-browsediv {
	display:none;
	visibility:hidden;
	z-index:0;
	border:4px solid green;
	border-radius:20px;
	position:absolute;
	top:0px;
	left:0px;
	min-width:450px;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, .2);
}
.wtw-browseclose {
	float:right;
	color:red;
	cursor:pointer;
	font-size:.8;
	margin:0px 10px 0px 0px;
}
.wtw-browseheader {
	background-color:#111111;
	color:#ffffff;
	font-size:1em;
	text-align:left;
	min-height:32px;
	vertical-align:middle;
	padding: 0px 0px 0px 15px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
	margin:0px;
}
#wtw_browsetitle {
	padding:5px 5px 0px 10px;
	color:#afafaf;
}
.wtw-ibrowseframe {
	width:100%;
	height:92%;
	border:none;
	padding:0px;
}
.wtw-ipagediv {
	width:100%;
	height:92%;
	border:none;
	padding:0px;
	margin:0px;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: nowrap;
	text-align:center;
}
.wtw-iprogresssection {
	min-height: 300px;
	text-align:center;
	vertical-align:middle;
	margin:20px;
}
.wtw-iprogressdiv {
	min-height:30px;
	min-width:70%;
	margin-left:15%;
	margin-right:15%;
	margin-top:70px;
	margin-bottom:30px;
	border:2px solid #808080;
	border-radius:6px;
	background-color:#acacac;
}
.wtw-iprogressbar {
	width:10%;
	height:27px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	border-right:1px solid #fcfcfc;
	border-top:1px solid #fcfcfc;
	border-radius:6px;
	background-color:green;
}
.wtw-iprogresstext {
	color:#808080;
	font-weight:bold;
	font-size:1.2em;
	text-align:center;
}
.wtw-label {
	float:left;
	width:200px;
	margin-left:10px;
	margin-right:10px;
	color:#ffffff;
	font-size:1.2em;
}
.wtw-searchresultbutton {
	float:right;
	border:2px solid gray;
	border-radius:10px;
	color:#000000;
	font-weight:bold;
	width:120px;
	padding:20px;
	text-align:center;
	vertical-align:top;
	font-size:1em;
	margin:15px 5px 5px 5px;
	background-color:#ffffff;
	cursor:default;
}
.wtw-searchresultbutton:hover {
	border:2px solid green;
	color:green;
	background-color:#FCFFBD;
	cursor:pointer;
}
h3.wtw-black {
	font-weight: bold;
	color: #000000;
	font-size: 1.2em;
	margin-bottom: 2px;
	background-color:transparent;
}
h2.wtw-login {
	cursor: default;
	color:#ffffff;
	font-size:1.5em;
	text-align:center;
	border-bottom:black 4px solid;
	box-shadow: 5px 10px #073770;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding:20px 10px 10px 10px;
	margin-bottom:25px;
	margin-top:0px;
	background-image:linear-gradient(black, #418AC2); 
}
h2.wtw-categoryheading {
	background:#000000;
	color:#ffffff;
	border:1px solid #000000;
	border-radius:15px;
	padding:5px;
	margin:10px auto 5px auto;
}
h3.wtw-categoryheading {
	background:#000000;
	color:#ffffff;
	border:1px solid #000000;
	border-radius:15px;
	padding:5px;
	margin:10px auto 5px auto;
}
h3.wtw-categoryheading:hover {
	background:#777777;
	color:#ffffcc;
	cursor:pointer;
}
.wtw-servicelisting-selected {
	width:96%;
	margin:10px auto 10px auto;
	padding:10px;
	color:#000000;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	background-color:#e6ffe6;
	vertical-align:middle;
	text-align:center;
}
.wtw-servicelisting-selectedtoggle {
	width:96%;
	margin:10px auto 10px auto;
	padding:10px;
	color:#000000;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	background-color:#e6ffe6;
	vertical-align:middle;
	text-align:center;
}
.wtw-servicelisting-selectedtoggle:hover {
	cursor:pointer;
}
.wtw-servicelisting {
	width:96%;
	margin:10px auto 10px auto;
	padding:10px;
	color:#000000;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	background-color:#ffffff;
	vertical-align:middle;
	text-align:center;
}
.wtw-servicelisting:hover {
	color:#000000;
	box-shadow: 2px 5px #777777;
	background-color:#ffffcc;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
}
.wtw-servicelisting-invoice {
	width:96%;
	margin:10px auto 10px auto;
	padding:10px;
	color:#000000;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	background-color:#ffffff;
	vertical-align:middle;
	text-align:center;
}
.wtw-serviceselect {
	float:right;
	margin:10px;
	padding:20px;
	color:#000000;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	background-color:#e6ffe6;
	vertical-align:middle;
	text-align:center;
	font-size:1.4em;
	font-weight:bold;
}
.wtw-serviceselect:hover {
	color:#000000;
	box-shadow: 2px 5px #777777;
	background-color:#ffff33;
	vertical-align:middle;
	text-align:center;
	cursor:pointer;
}
.wtw-servicetitle {
	font-size:1.4em;
	font-weight:bold;
	text-align:left;
}
.wtw-currency {
	float:right;
	text-align:right;
	color:#0000ff;
}
.wtw-currencyinline {
	font-size:1.4em;
	font-weight:bold;
	display:inline;
	text-align:left;
	color:#0000ff;
}
.wtw-smalltext {
	font-size:.8em;
	font-weight:normal;
	color:#000000;
}
.wtw-prepcart {
	width:96%;
	margin:10px auto 10px auto;
	padding:10px;
	color:#000000;
	border-top:1px solid #0000ff;
	border-left:1px solid #0000ff;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-radius:10px;
	box-shadow: 2px 5px #777777;
	background-color:#efefef;
	vertical-align:middle;
	text-align:left;
}
.wtw-logincancel {
	border:#afafaf 1px solid;
	padding:5px;
	border-radius:10px;
	width:120px;
	margin-left:auto;
	margin-right:auto;
	background-color: #ffffff;
	display:inline-block;
}
.wtw-logincancel:hover {
	cursor:pointer;
	border:#00ff00 1px solid;
	background-color: #fafcc5;
}
.wtw-button {
	font-size:1.4em;
	font-weight:bold;
	display:block-inline;
	border-radius:10px;
	padding:5px;
	border:black 1px solid;
	color:#000000;
	background-color: #fafcc5;
}
.wtw-button:hover {
	cursor:pointer;
	border:green 1px solid;
	color:green;
	background-color: #ffffff;
}
.wtw-searchbutton {
	font-size:1.4em;
	width:120px;
	border-radius:10px;
	float:right;
	border:black 1px solid;
	color:#000000;
	background-color: #fafcc5;
}
.wtw-searchbutton:hover {
	cursor:pointer;
	border:green 1px solid;
	color:green;
	background-color: #ffffff;
}
.wtw-loadingnoticecentered {
	width:250px;
	text-align:center;
	padding:1px;
	border:1px solid #c0c0c0;
	display:none;
	visibility:hidden;
	background-color:#FFFFE0;
	animation:wtw-blinker 1s linear infinite;
	margin-left:auto;
	margin-right:auto;
	color:#000000;
}
